@model WebApplication3.Models.Tasks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssignedUser.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedUser.fName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskOwner.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskOwner.fName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskPriority.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskPriority.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskStatus.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskStatus.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompleteDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompleteDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
